//Rotation fleurs

@keyframes rotating {
	100% {
		transform: rotate(1turn);
	}
}
.site-footer {
	&::after {
		animation: rotating 10s normal linear infinite;
	}
	ul {
		&::after {
			animation: rotating 10s normal linear infinite;
		}
	}
	&::before {
		animation: rotating 10s normal linear infinite;
	}
}
.story__article {
	&::after {
		animation: rotating 10s normal linear infinite;
	}
}
#studio {
	h2 {
		&::before {
			animation: rotating 10s normal linear infinite;
		}
		&::after {
			animation: rotating 10s normal linear infinite;
		}
	}
}
.story {
	h2 {
		&::after {
			animation: rotating 10s normal linear infinite;
		}
	}
}
.fleur {
	animation: rotating 10s normal linear infinite;
}

//Fin de rotation des fleurs


// Effet d'apparitions sur les sections de la page en fade in


#place 
	animation: fadein 4s ease-in forwards;
	opacity: 0;
	@keyframes fadein{ from { transform: translateY(100px);
	opacity: 0;
}
to {
	transform: translateX(0);
	opacity: 1;
	transform: translateY(0);
	opacity: 1;
	transform: translateX(-50px);
	opacity: 1;
	transform: translateY(0);
	opacity: 1;
	transform: translateX(50px);
	opacity: 1;
}
} {
	} 
		#studio 
			animation: fadeIn2 4s ease-in forwards;
			opacity: 0;
			@keyframes fadein2 from { transform: translateY(-100px);
			opacity: 0;
		}
		#characters 
			animation: fadeIn3 4s ease-in forwards;
			opacity: 0;
			@keyframes fadein3 from { transform: translateY(50px);
			opacity: 0;
		}
		.story 
			animation: fadeIn4 4s ease-in forwards;
			opacity: 0;
			@keyframes fadein4 from { transform: translateX(-100px);
			opacity: 0;
		}
		.banner {
			animation: fadeInBanner 4s ease-in forwards;
			opacity: 0;
			@keyframes fadeinbanner{ from { transform: translateY(50px);
			opacity: 0;
		}
		.background-video {
			z-index: 1;
			width: 10000px;
			position: relative;
		}
	}
}
.logo {
	z-index: 2;
	position: absolute;
}
